.blu_line {
  height: 30px;
  background-color: #0282f9;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
}

.top-nav a {
  font-size: 12px;
}

.navbar {
  height: 90px;
}

.hero {
  height: 300px;
  width: 100%;
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  z-index: 25;
  /*  .currentSeries {
       position: absolute;
       padding: 10px 40px;
       bottom: -14px;
       left: 8%;

       background-color: rgb(2, 130, 249);

       a{
         color: white;
         text-decoration: none;
         font-size: 18px;
         font-weight: bolder;

       }
     } */
}

.main-centrale {
  min-height: 700px;
  width: 100%;
  background-color: #1c1c1c;
  position: relative;
}

.main-centrale .currentSeries {
  position: absolute;
  padding: 10px 40px;
  top: -3%;
  left: 8%;
  z-index: 30;
  background-color: #0282f9;
}

.main-centrale .currentSeries a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
}

.card-fumetto img {
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.card {
  background-color: #1c1c1c;
  border: 0px;
}

.central-main {
  position: relative;
}

.central-main .loadMore {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5%;
  text-align: center;
  padding: 10px 20px;
  width: 20%;
  background-color: #0282f9;
}

.central-main .loadMore a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
}

.containerBlu {
  width: 980px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.containerBlu .img {
  width: 65px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}

.containerBlu .img img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 40px;
  width: 40px;
}

.containerBlu ul {
  list-style: none;
}

.containerBlu ul li {
  display: inline-block;
}

.containerBlu ul a {
  font-size: 12px;
  color: white;
  text-decoration: none;
  padding-right: 5px;
}

.navBlu {
  text-align: center;
}

.shellBlu {
  background-color: #0282f9;
}

.shellFooter {
  background-image: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.centralFooter {
  padding: 10px;
  width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.centralFooter h2 {
  font-size: 16px;
  margin: 25px -8px;
}

.centralFooter h2 a {
  color: white;
  text-decoration: none;
}

.centralFooter .centralFooter-left-list-central {
  margin: 0px 15px;
}

.centralFooter ul {
  margin-left: -40px;
}

.centralFooter li {
  list-style: none;
}

.centralFooter li a {
  text-decoration: none;
  color: #959587;
  font-size: 12px;
}

.centralFooter-left {
  display: flex;
}

.centralFooter-right {
  z-index: 1;
  position: absolute;
  right: -20px;
  top: -50px;
}

.centralFooter-right img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.navSocial {
  position: relative;
  z-index: 100;
  background-color: #303030;
}

.navSocialContainer {
  padding: 20px;
  width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navSocialContainer .navSocial-left {
  border: 1px solid #0282f9;
  padding: 10px;
}

.navSocialContainer .navSocial-left a {
  text-decoration: none;
  color: white;
}

.navSocialContainer .navSocial-right {
  padding: 10px;
  color: #0282f9;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navSocialContainer .navSocial-right ul {
  display: inline-block;
}

.navSocialContainer .navSocial-right ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

