.shellFooter {
    background-image: url("/img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  
  .centralFooter {
    padding: 10px;
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    
    h2{ font-size: 16px;
        margin: 25px -8px;
  
        a{color:white;
          text-decoration: none;}}
  
    .centralFooter-left-list-central{margin:0px 15px;}
  
    ul{margin-left:-40px;}
  
    li{ 
        list-style: none;
              a{ text-decoration: none;
              color:rgb(149, 149, 135);
              font-size: 12px;
              
              }
    }
  
  }
  
  .centralFooter-left {display: flex;}
  .centralFooter-right{ z-index: 1;
                       
                       position: absolute;
                       right: -20px;
                       top:-50px;
  
      
      img{object-fit: cover;
          width: 100%;
          }
  }
  
  .navSocial{position:relative;
             
             z-index: 100;
             background-color: rgb(48, 48, 48);}
  
  .navSocialContainer {
             padding: 20px;
             width: 960px;
             margin: auto;
             display: flex;
             justify-content: space-between;
             align-items: center;
  
      .navSocial-left{ border:1px solid rgb(2, 130, 249);;
                       padding: 10px; ;
                   
                   a{ text-decoration: none;
                      color: white;}
                      
                      }
  
      .navSocial-right{ padding: 10px; ;
                        color: rgb(2, 130, 249);;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                       
                        
                        ul{display: inline-block;
                          
                        
                          li{list-style: none;
                             display: inline-block;
                             padding: 0 10px;
                          };}}
  
  }