.blu_line {
    height:30px;
    background-color: rgb(2, 130, 249);
}

.top-nav {
    display:flex;
    justify-content: flex-end;

    a {
        font-size: 12px;
    }
}

.navbar {
    height: 90px;
}

.hero {
    height: 300px;
    width: 100%;
    background-image: url("/img/jumbotron.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    z-index: 25;

   /*  .currentSeries {
        position: absolute;
        padding: 10px 40px;
        bottom: -14px;
        left: 8%;
        
        background-color: rgb(2, 130, 249);
    
        a{
          color: white;
          text-decoration: none;
          font-size: 18px;
          font-weight: bolder;
    
        }
      } */
}