.main-centrale {
    min-height: 700px;
    width: 100%;
    background-color:rgb(28, 28, 28); 
    position: relative;

    .currentSeries {
        position: absolute;
        padding: 10px 40px;
        top: -3%;
        left: 8%;
        z-index: 30;
        
        background-color: rgb(2, 130, 249);
    
        a{
          color: white;
          text-decoration: none;
          font-size: 18px;
          font-weight: bolder;
    
        }
      }
}

.card-fumetto {

    img { height: 180px;
        object-fit: cover;
        object-position: top;
    }
    
}

.card {
    background-color:rgb(28, 28, 28); 
    border:0px
}

.central-main{
    position: relative;

    .loadMore{
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        bottom: -5%;
        text-align: center;
        padding: 10px 20px;
        width: 20%;
        background-color: rgb(2, 130, 249);
    
        a{
          color: white;
          text-decoration: none;
          font-size: 18px;
          font-weight: bolder;
    
        }
      }
}

.containerBlu {
    width: 980px;
    margin: auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  
    .img {
      width: 65px;
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle;
  
      img {
          object-fit: contain;
          height: 40px;
          width: 40px;
          }
    }
  
    ul {
      list-style: none;
  
      li {
        display: inline-block;
      }
      a {
        font-size: 12px;
        color: white;
        text-decoration: none;
        padding-right: 5px;
      }
    }
  }
  .navBlu {
    text-align: center;
  }
  
  .shellBlu {
    background-color: rgb(2, 130, 249);
  }

  .fumetto-singolo {

    a{
      text-decoration: none;
    }
  }
